In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
from dateutil.parser import parse
import os
from pathlib import Path
from bikesharing.ml_logic.data import get_raw_data
from bikesharing.params import *

In [2]:
query =f'''
        SELECT *
        FROM `{GCP_PROJECT}.{BQ_DATASET}.raw_data_mvg`
    '''

In [4]:
mvg_data = get_raw_data(GCP_PROJECT, query=query, cache_path=Path(f'{LOCAL_DATA_PATH}/raw/raw_{START_YEAR}_to_{END_YEAR}.csv'))
mvg_data.shape

Load data from BigQuery server...
columns: Index(['STARTTIME', 'ENDTIME', 'STARTLAT', 'STARTLON', 'ENDLAT', 'ENDLON',
       'RENTAL_IS_STATION', 'RENTAL_STATION_NAME', 'RETURN_IS_STATION',
       'RETURN_STATION_NAME'],
      dtype='object')
✅ Data loaded, with shape (2804147, 10)

(2804147, 10)

In [5]:
mvg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2804147 entries, 0 to 2804146
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   STARTTIME            datetime64[ns]
 1   ENDTIME              object
 2   STARTLAT             float64
 3   STARTLON             float64
 4   ENDLAT               float64
 5   ENDLON               float64
 6   RENTAL_IS_STATION    float64
 7   RENTAL_STATION_NAME  object
 8   RETURN_IS_STATION    float64
 9   RETURN_STATION_NAME  object
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 213.9+ MB

In [7]:
min_date = parse('2022-01-01').strftime('%Y-%m-%d')
df_test = mvg_data[mvg_data['STARTTIME'] >= min_date]

In [10]:
df_test.tail()

,STARTTIME,ENDTIME,STARTLAT,STARTLON,ENDLAT,ENDLON,RENTAL_IS_STATION,RENTAL_STATION_NAME,RETURN_IS_STATION,RETURN_STATION_NAME
2804142,2022-12-17 19:39:00,2022-12-17 19:42,48.161991,11.58654,48.161251,11.59206,1.0,Münchner Freiheit,0.0,None
2804143,2022-12-20 19:40:00,2022-12-20 19:48,48.161991,11.58654,48.162029,11.56343,1.0,Münchner Freiheit,0.0,None
2804144,2022-12-22 17:03:00,2022-12-22 17:15,48.161991,11.58654,48.180382,11.59943,1.0,Münchner Freiheit,0.0,None
2804145,2022-12-28 09:42:00,2022-12-28 09:58,48.161991,11.58654,48.162739,11.57268,1.0,Münchner Freiheit,0.0,None
2804146,2022-12-31 10:01:00,2022-12-31 10:19,48.161991,11.58654,48.157879,11.57722,1.0,Münchner Freiheit,0.0,None